a {
    color: red;
}

a:hover {
    color: powderblue;
}

.ranking {
    width: 200px;
    background-color: black;
    color: white;
    padding: 10px;
}
#roast {
    color: lightseagreen;
}

#title {
    background-color: magenta;
}

#water {
    background-color: blue;
    color: white;
}

#pour {
    background-color: blue;
    color: white;
}

#swan {
    background-color: magenta;
}

#rabbit {
    color: lightseagreen;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  a {
    color: hotpink;
  }